@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --grayish-blue: hsl(229, 6%, 66%);
  --dark-blue: hsl(234, 12%, 34%);
  --light-gray: hsl(0, 0%, 98%);
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --card-bgcolor: #ffffff;
  --bg2: #f2f2f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-content: center;
  font-size: 0.94rem;
  font-family: 'Poppins', sans-serif;
  background-color: var(--light-gray);
  color: var(--grayish-blue);
}

.main__content {
  max-width: 23.4rem;
  padding: 5rem 2rem;
}

.header {
  text-align: center;
}
.header .bold {
  display: block;
  font-weight: 600;
}

.header .bold,
.header h1, 
h2 {
  color: var(--dark-blue);
}

.header h1 {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.header .description {
  line-height: 1.7;
  margin-bottom: 4rem;
}

.grid .card {
  display: flex;
  flex-direction: column;
  padding: 1.7rem;
  background-color: var(--card-bgcolor);
  filter: drop-shadow(.3rem .3rem .3rem var(--grayish-blue));
  border-radius: .5rem;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
}

.grid .card h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.card p {
  margin-bottom: 1.75rem;
  font-size: 0.81rem;
  line-height: 1.8;
}

.card svg {
  margin-left: auto;
  scale: 0.89;
}

.card::before {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px 0px;
  background-color: var(--cyan);
  top: 0;
  left: 0;
  position: absolute;
}

.card.red::before {
  background-color: var(--red);
}

.card.orange::before {
  background-color: var(--orange);
}

.card.blue::before {
  background-color: var(--blue);
}

@media screen and (min-width: 90rem) {
  .main__content {
    max-width: 95rem;
    max-height: 100vh;
    overflow-y: hidden;
    padding: 3.5rem;
  }
  .header {
    max-width: 33.75rem;
    margin: 0 auto;
  }
  .header h1 {
    font-size: 2.25rem;
  }
  .grid {
    display: grid;
    max-width: 69.37rem;
    grid-template-columns: repeat(3, 21.87rem);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    transform: translateY(-10rem);
  }
  .grid h2 {
    margin-bottom: 0.3rem;
  }
  .grid .card {
    padding: 2.5rem 2rem;
  }
  .grid .card:first-child{
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .grid .card:nth-child(2){
    grid-column-start: 2;
    transform: translateY(10.6rem);
    grid-row-start: 1;
  }
  .grid .card:nth-child(3){
    grid-column-start: 2;
    grid-row-start: 3;
    transform: translateY(-10.6rem);
  }
  .grid .card:nth-child(4){
    grid-row-start: 2;
    grid-column-start: 3;
  }
  .card svg {
    scale: 1;
  }
}